.hidden{
    display: none;
}
.form_container{
    margin-top: 20px;
}

a {
    background-color: red;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
}

.queue_button, .queue_button1{
    padding-top: 20px;
    border-radius: 5px;
}

#add_queue_button, #add_queue_button1 {
    background-color: red;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#queue_button a, #queue_button1 a{
    border-radius: 5px;
}